# Pandas: grouping

In [106]:
import pandas as pd
import numpy as np

In [107]:
cars = pd.read_csv("data/vehicles.csv")

In [108]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [109]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

How many Car models?

In [110]:
### your code is here
cars2= cars.groupby(["Model"]).count()
cars2.info()
cars2.shape
print(cars2.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 1-Ton Truck 2WD to xD
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     3608 non-null   int64
 1   Year                     3608 non-null   int64
 2   Engine Displacement      3608 non-null   int64
 3   Cylinders                3608 non-null   int64
 4   Transmission             3608 non-null   int64
 5   Drivetrain               3608 non-null   int64
 6   Vehicle Class            3608 non-null   int64
 7   Fuel Type                3608 non-null   int64
 8   Fuel Barrels/Year        3608 non-null   int64
 9   City MPG                 3608 non-null   int64
 10  Highway MPG              3608 non-null   int64
 11  Combined MPG             3608 non-null   int64
 12  CO2 Emission Grams/Mile  3608 non-null   int64
 13  Fuel Cost/Year           3608 non-null   int64
dtypes: int64(14)
memory usage: 422.8+ KB
(3608, 14)

In [111]:
cars2=cars.groupby(["Model"]).count() 
print(len(cars2.index))
#index = cars2.index
#number_of_rows = len(index)
#number_of_rows

3608

group by the data by the Make  using count function

In [112]:
### your code us here

cars3 = cars.groupby(["Make"]).count()
cars3

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [113]:
cars3 = cars["Model"].max()
cars3

'xD'

In [114]:
cars3 = cars.groupby(["Make"])['Model'].count()
cars3

#cars3 = cars3['Model'].max()
#cars3

Make
AM General                        4
ASC Incorporated                  1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Model, Length: 127, dtype: int64

In [115]:
cars3.max()

3643

In [116]:
### your code us here

cars3.loc[cars3 == 3643]

Make
Chevrolet    3643
Name: Model, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [117]:
### first change it to km and gram
cars.rename(columns = {'CO2 Emission Grams/Mile' : 'CO2 Emission Grams Km'}, inplace = True)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [118]:
cars['CO2 Emission Grams Km']=cars['CO2 Emission Grams Km']*(1/1.60934)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.450048,1150

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [119]:
### your code us here
co_emission = cars.groupby(['Make'])['CO2 Emission Grams Km'].mean()
co_emission

Make
AM General                     379.881345
ASC Incorporated               345.133719
Acura                          262.583000
Alfa Romeo                     288.287195
American Motors Corporation    314.264744
                                  ...
Volkswagen                     244.038998
Volvo                          270.796572
Wallace Environmental          408.857065
Yugo                           221.251107
smart                          153.498052
Name: CO2 Emission Grams Km, Length: 127, dtype: float64

In [120]:
co_emission.sort_values(ascending = False)

Make
Vector                                651.919248
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Bugatti                               542.497235
Laforza Automobile Inc                502.012683
                                         ...
MINI                                  194.935105
Daihatsu                              192.742404
Fiat                                  189.311494
smart                                 153.498052
Fisker                                105.011992
Name: CO2 Emission Grams Km, Length: 127, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [121]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [122]:
#We decided to check max and mean to make a decision how we bin
cars_group = pd.cut (cars ['Year'], bins = 4, labels =['1985', '1995', '2005', '2015'])
cars_group

0        1985
1        1985
2        1985
3        1985
4        1985
         ...
35947    2015
35948    2015
35949    2015
35950    2015
35951    2015
Name: Year, Length: 35952, dtype: category
Categories (4, object): ['1985' < '1995' < '2005' < '2015']

In [123]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [124]:
### your code is here

# convert the column City MPG to City/Km
cars.rename(columns = {'City MPG' : 'City Km/L'}, inplace = True)
cars.rename(columns = {'Highway MPG': 'Highway Km/L'}, inplace = True)
cars.rename(columns = {'Combined MPG' : 'Combined Km/L'}, inplace = True)
cars
#convert MPG columns to km_per_liter in panda series
MPG_conv = {'City Km/L': pd.Series(cars['City Km/L']) * 0.42514,
                'Highway Km/L': pd.Series(cars['Highway Km/L']) * 0.42514,
                'Combined Km/L': pd.Series(cars['Combined Km/L']) * 0.42514}
pd.DataFrame(MPG_conv)

       City Km/L  Highway Km/L  Combined Km/L
0        7.65252       7.22738        7.22738
1        5.52682       5.52682        5.52682
2        6.80224       7.22738        6.80224
3        5.52682       5.52682        5.52682
4        5.95196       8.92794        6.80224
...          ...           ...            ...
35947   14.45476      16.15532       15.30504
35948   14.45476      16.15532       15.30504
35949   14.45476      16.15532       15.30504
35950   14.45476      16.58046       15.30504
35951   13.60448      16.58046       14.87990

[35952 rows x 3 columns]

In [125]:
cars.groupby(['Year','Make'])['City Km/L'].mean()

Year  Make
1984  AM General                     15.500000
      American Motors Corporation    16.533333
      Buick                          15.333333
      Cadillac                       17.666667
      Chevrolet                      15.410448
                                       ...
2017  Subaru                         22.142857
      Toyota                         25.097561
      Volkswagen                     23.000000
      Volvo                          22.285714
      smart                          32.000000
Name: City Km/L, Length: 1587, dtype: float64

Which brands are more environment friendly?

In [126]:
co2_emission = cars.groupby(['Make'])['CO2 Emission Grams Km'].mean()
co2_brand=co2_emission.sort_values(ascending=True)

In [127]:
### your code is here

Does the drivetrain affect fuel consumption?

In [128]:
## Your Code here

# create a dataframe with only ‘Drivetrain’ and ‘Fuel Cost/Year’ to check the correlation between these 2.
# why two brackets, no idea, check this
drivetrain_fuelcost = cars[['Drivetrain','Fuel Cost/Year']]
drivetrain_fuelcost

             Drivetrain  Fuel Cost/Year
0         2-Wheel Drive            1950
1         2-Wheel Drive            2550
2      Rear-Wheel Drive            2100
3      Rear-Wheel Drive            2550
4      Rear-Wheel Drive            2550
...                 ...             ...
35947  Rear-Wheel Drive            1100
35948  Rear-Wheel Drive            1100
35949  Rear-Wheel Drive            1100
35950  Rear-Wheel Drive            1100
35951  Rear-Wheel Drive            1150

[35952 rows x 2 columns]

In [131]:
drivetrain_fuelcost.corr()

                Drivetrain  Fuel Cost/Year
Drivetrain        1.000000        0.071018
Fuel Cost/Year    0.071018        1.000000

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [130]:
## Your Code here

drivetrain_fuelcost.corr()

                Drivetrain  Fuel Cost/Year
Drivetrain        1.000000        0.071018
Fuel Cost/Year    0.071018        1.000000

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
## your code is here

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857